
<div *ngIf="transaction">
    <h2><span jhiTranslate="interhyp4HackathonApp.transaction.detail.title">Transaction</span> {{transaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="interhyp4HackathonApp.transaction.date">Date</span></dt>
        <dd>
            <span>{{transaction.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="interhyp4HackathonApp.transaction.amount">Amount</span></dt>
        <dd>
            <span>{{transaction.amount}}</span>
        </dd>
        <dt><span jhiTranslate="interhyp4HackathonApp.transaction.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'interhyp4HackathonApp.TransactionStatus.' + transaction.status}}">{{transaction.status}}</span>
        </dd>
        <dt><span jhiTranslate="interhyp4HackathonApp.transaction.location">Location</span></dt>
        <dd>
            <div *ngIf="transaction.location">
                <a [routerLink]="['/location', transaction.location?.id]">{{transaction.location?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="interhyp4HackathonApp.transaction.bankaccount">Bankaccount</span></dt>
        <dd>
            <div *ngIf="transaction.bankaccount">
                <a [routerLink]="['/fc-bank-account', transaction.bankaccount?.id]">{{transaction.bankaccount?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
